<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <h1>New Product</h1>
    <form>
        <div>
            <label for="name">Product Name: </label>
            <input name = "name" type = "text"/>
        </div>
        <div>
            <label for="price"> Product Price: </label>
            <input name = "price" type = "number"/>
        </div>
        <div>
            <lable for="image"> Product Image(url): </label>
            <input name = "image" type = "text"/>
        </div>
        <input type="submit" value="Create new product"/>
    </form>
</body>
</html>